/* Colors and fonts */
h1 {
	text-align: center;justify-content: 
	color: rgb(72, 52, 52);
	font-family: Helvetica;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 40px;

}

h2 {
	text-align: center;
	color: rgb(107, 79, 79);
	font-family: Helvetica;
	font-weight: 800;
	font-size: 20px;

}

h3 {
	text-align: justify;
	color: rgb(72, 52, 52);
	font-family: Helvetica;
	font-weight: 800;
	font-size: 15px;
	margin-left: 40px;
	

}

h4 {
	text-align: center;
	color: rgb(230, 230, 230);
	font-family: Helvetica;
	font-weight: 800;
	font-size: 13px;
	

}


body {

	background-color: whitesmoke;
	color: rgb(107, 79, 79);
	font-family: Helvetica;
	font-size: 13px;
	margin-right: 40px;
}
a {
	text-align: center;
	text-decoration: none;
	color: rgb(107, 79, 79) ;
	font-family: Helvetica;
	font-weight: 800;
	font-size: 13px;
}
a:hover {
	color: rgb(173, 139, 115);
}


div {
	background: whitesmoke;
	margin: 5px;
}

img{
	height: 180px;
	width: auto;
	margin-left: 190px;
}

ol{
	margin-right: 25px;
	text-align: justify;
	line-height: 15px;
}


/* Custom design with class */

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
	width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 4px;
	margin: 20px 0px;
	padding-left: 20px;
	text-align: justify;
	line-height: 20px;
}

.img-circle {
	border-radius: 70%;
	margin-left: 230px;

}
.btn-blue {
	margin-left: 250px;
	background-color: rgb(26, 72, 227);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: rgb(84, 99, 255); 
	color: white;
}
.list-inline {
	text-align: center;
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	list-style: none;
	display: inline;
	padding: 10px;
	line-height: 25px;
}
.list-inline i {
	font-size: 50px;
	color: rgb(230,230,230)

}
.list-inline i:hover {
	color: whitesmoke;
}

#introduction p {
	margin-bottom: 40px;
}




